@import "tailwindcss";

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}

@media print {
  body {
    background: white !important;
    color: black !important;
  }

  aside, header, nav, .fixed, button, .pointer-events-none {
    display: none !important;
  }

  #printable-job-card, #printable-invoice, #printable-warranty {
    position: absolute;
    left: 0;
    top: 0;
    width: 100% !important;
    border: none !important;
    box-shadow: none !important;
    padding: 0 !important;
    margin: 0 !important;
  }
}
